In [520]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [411]:
data = pd.read_csv('C:\\DataScince\\Dataset\\movie_bd_v5.csv')
#data.sample(5)
#data.describe()

# Предобработка

In [447]:
answers = {} # создадим словарь для ответов
# Обогощаем данные
data = data.assign(profit = data.revenue - data.budget)

# 1. У какого фильма из списка самый большой бюджет?

In [493]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)' #+
data_1 = data[(data.budget == data.budget.max())].original_title.mode() [0] #Оставляем строки с макс бюджетом 
data_1

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [494]:
answers['2'] = 'Gods and Generals (tt0279111)' #+
data_2 = data[(data.runtime == data.runtime.max())].original_title.mode() [0] #Оставляем строки с макс временем 
data_2

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [495]:
answers['3'] = 'Winnie the Pooh (tt1449283)' #+
data_3 = data[(data.runtime == data.runtime.min())].original_title.mode() [0] #Оставляем строки с мин временем 
data_3

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [496]:
answers['4'] = '109.66' #+
data_4 = data.runtime.mean() #Расчитываем среднее для времени 
data_4

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [497]:
answers['5'] = '107' #+
data_5 = data.runtime.median() #Расчитываем медианное для времени 
data_5

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [498]:
answers['6'] = 'Avatar (tt0499549)' #+
data_6 = data[(data.profit == data.profit.max())].original_title.mode() [0] #Оставляем строки с макс прибылью (прибыль предварительно расчитываем)
data_6

'Avatar'

# 7. Какой фильм самый убыточный?

In [499]:
answers['7'] = 'The Lone Ranger (tt1210819)' #+
data_7 = data[(data.profit == data.profit.min())].original_title.mode() [0] #Оставляем строки с мин прибылью (прибыль предварительно расчитываем)
data_7

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [500]:
answers['8'] = '1478' #+
data_8 = data[(data.revenue > data.budget)].original_title.count() #Считаем сроки удавлетворяющие условия сборы > бюджета
data_8

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [501]:
answers['9'] = 'The Dark Knight (tt0468569)' #+
data_9 = data[data.revenue == data[(data.release_year == 2008)].revenue.max()].original_title.mode() [0]
data_9

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [502]:
answers['10'] = 'The Lone Ranger (tt1210819)' #+
data_10 = data[data.profit == data[(data.release_year >=2012)&
                                   (data.release_year <=2014)].profit.min()].original_title.mode() [0] #Сортируем датасет по двум услвиям, для которых расчитываем мин прибыль
data_10

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [503]:
answers['11'] = 'Drama' #+
data_11 = data['genres'].str.cat(sep='|') #Превращаем все в одну строку
data_11 = pd.Series(data_11.split('|')).value_counts(ascending=False).head(1) #Cоздаем список разделяя строку по '|', подсчитываем и упорядычеваем
data_11

Drama    782
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [538]:
answers['12'] = 'Drama' #+
data_12 = data[data.profit>0].genres.str.split('|').explode().mode()[0] # 1.Оставляем адатасет соотвествующий условию 2.Увиличиваем датасет на кол-во уникальных вхождений и подсчитываем наибольшее
data_12

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [505]:
answers['13'] = 'Peter Jackson' #+
directors = set(data.director.str.split('|').sum()) #Разделяем режисеров по '|'
data_13 = pd.Series({x: data[data.director.str.contains(x)].revenue.sum() #Подсчитываем сборы для режисеров, которые меняются в цикле
           for x in directors}).sort_values(ascending = False).head(1) #Упорядычевываем данные
data_13

Peter Jackson    6490593685
dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [506]:
answers['14'] = 'Robert Rodriguez' #+
data_14 = data[data.genres.str.contains("Action")] #Оставляем строки соотвествующие условию 
data_14=data_14['director'].str.cat(sep='|') # Превращаем все в одну строку
data_14=pd.Series(data_14.split('|')).value_counts(ascending=False).head(1) # Создаем список разделяя строку по '|', подсчитываем и упорядычеваем
data_14

Robert Rodriguez    9
dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [537]:
answers['15'] = 'Chris Hemsworth' #+
data_15 = data.query('release_year == 2012')
data_15['cast'] = data.cast.str.split('|') #Разделяем актеров
data_15 = data_15.explode('cast') #Увиличиваем датасет на кол-во уникальных вхождений
data_15 = data_15.groupby(['cast'])[['revenue']].sum().sort_values(by = 'revenue', #Группируем датасет по актерам и суммируем по сборам, затем сортируем
                                                         ascending=False).head(1)
data_15

<ipython-input-537-f470b3d5383f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_15['cast'] = data.cast.str.split('|') #Разделяем актеров

                    revenue
cast
Chris Hemsworth  2027450773

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [508]:
answers['16'] = 'Matt Damon' #+
data_16 = data[data.budget > data.budget.mean()].cast.str.split('|').explode('cast').mode()[0] #Задаем условие-бюджет болье среднего,разделяем и расширем данные по актерам, отбираем наиболее частое
data_16

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [509]:
answers['17'] = 'Action' #+
data_17 = data[data.cast.str.contains("Nicolas Cage")] #Оставляем строки соотвествующие условию 
data_17=data_17['genres'].str.cat(sep='|') # Превращаем все в одну строку
data_17=pd.Series(data_17.split('|')).value_counts(ascending=False).head(1) # Создаем список разделяя строку по '|', подсчитываем и упорядычеваем
data_17

Action    17
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [533]:
answers['18'] = 'K-19: The Widowmaker' #+
data_18 = data[data.production_companies.str.contains("Paramount Pictures")] #Оставляем строки удовлетворяющие условию студии
data_18[data_18.profit == data_18.profit.min()].original_title.mode() [0] #Оставляем строки удовлетворяющие мин прибыль

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [511]:
answers['19'] = '2015' #+
data_19 = data.groupby(['release_year'])[['revenue']].sum().sort_values(by = 'revenue', #Группируем данные по году выпуска и суммируем сборы по году
                                                         ascending=False).head(1) #Упорядычевываем данные
data_19

                  revenue
release_year
2015          25449202382

# 20. Какой самый прибыльный год для студии Warner Bros?

In [512]:
answers['20'] = '2014' #+
data_20 = data[data.production_companies.str.contains("Warner Bros")] #Уставляем данные удовлетворяющие условию
data_20 = data_20.groupby(['release_year'])[['profit']].sum().sort_values(by = 'profit', #Группируем данные по году выпуска и суммируем прибыль по году
                                                         ascending=False).head(1) #Упорядычевываем данные
data_19

                  revenue
release_year
2015          25449202382

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [513]:
answers['21'] = 'September' #+
data_21 = data.copy()
data_21.release_date = pd.to_datetime(data_21.release_date).dt.strftime('%B') #Меняем даты релиза на месяца
data_21 = data_21.groupby(['release_date'])[['original_title']].count().sort_values(by = 'original_title', #Группируем данные по месяцам и подсчитываем кол-во вхождений в каждый месяц
                                                         ascending=False).head(1) #Упорядычевываем данные
data_21

              original_title
release_date
September                227

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [544]:
answers['22'] = '450' #+
data_22 = data.copy()
data_22['release_date'] = pd.to_datetime(data_22['release_date']) #Форматируем даты релиза
#Меняем даты на номера месяцев, затем оставляем и подсчитываем только те которые соотвествую условию
data_22[data_22.release_date.dt.month.isin([6, 7, 8,])].original_title.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [515]:
answers['23'] = 'Peter Jackson'
data_23 = data.copy()
data_23['release_date'] = pd.to_datetime(data_23['release_date']) #Форматируем даты релиза
#Меняем даты на номера месяцев, затем оставляем и подсчитываем только те которые соотвествую условию 
data_23[data_23.release_date.dt.month.isin([1, 2, 12,])].director.str.split('|').explode('director').value_counts().head(1)

Peter Jackson    7
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [516]:
answers['24'] = 'Four By Two Productions' 
data_24 = data.copy()
data_24['title_length'] = data_24['original_title'].str.len() #Создаем столбец и подсчитываем в нем длину названия
data_24.production_companies = data_24.production_companies.str.split('|') #Разделяем строку по '|'
data_24 = data_24.explode('production_companies') #Увиличиваем датасет на кол-во уникальных вхождений
data_24.groupby('production_companies')['title_length'].mean().sort_values(
    ascending=False).head(1) #Группируем данные по компаниям и подсчитываем средний показатель длины названия.Упорядычевываем

production_companies
Four By Two Productions    83.0
Name: title_length, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [550]:
answers['25'] = 'Midnight Picture Show'
data_25 = data.copy()
data_25['overview_length'] = data_25['overview'].str.split(' ').str.len() #Создаем столбец и подсчитываем в нем длину описания
data_25.production_companies = data_25.production_companies.str.split('|') #Разделяем строку по '|'
data_25 = data_25.explode('production_companies') #Увиличиваем датасет на кол-во уникальных вхождений
data_25.groupby('production_companies')['overview_length'].mean().sort_values(
    ascending=False).head(1) #Группируем данные по компаниям и подсчитываем средний показатель длины описания.Упорядычевываем

production_companies
Midnight Picture Show    175.0
Name: overview_length, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу?

In [518]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
data.loc[(data['vote_average'] > np.percentile(data['vote_average'],99))].original_title #Задаем условие через процентиль

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [554]:
answers['27'] = 'Daniel Radcliffe', 'Rupert Grint'
data_27 = data.copy()

pairs = Counter() #Заводим счетчик
for i in range(0,len(data_27)):
    artists = data_27.cast[i].split('|') #Разделяем артистов и записываем в отдельную переменную
    for j in list(combinations(artists, 2)): #Цикл поплняющий счетчик при повторении комбинации артистов в датасете
        if j not in pairs: 
            pairs[j] = 1
        else:
            pairs[j] += 1
pairs.most_common(1) #Отображаем наиболее частые

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [526]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '109.66',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'September',
 '27': ('Daniel Radcliffe', 'Rupert Grint')}